@import 'theme.scss';
/*GENERAL CLASSES AND STYLES*/
a {
  color: $links-color;
}
a:hover {
  color: $links-color-hover;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: 1.45;
  font-weight: 200;
  color: $body-color;
}
h1,
h2,
h3,
h5 {
  font-family: $headlines-font-family;
}
h5 {
  font-size: $h5-font-size;
}
h3 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  li {
    display: inline-block;
  }
}
header {
  height: 60px;
  border-bottom: 1px solid $header-border-bottom-color;
  .job-title {
    margin-left: 15px;
  }
}
i.fab {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.fa-file-pdf {
  font-size: 1.85rem;
  line-height: 2rem;
}

.view-project {
  position: relative;
  margin-top: 10px;
  display: inline-flex;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 600ms, opacity 600ms;
  border: 2px solid $links-color;
  padding: 4px 12px;
  background-color: transparent;
  color: $links-color;
  cursor: pointer;
  &:hover {
    background-color: $links-color;
    color: $project-details-container-color;
    text-decoration: none;
  }
}

// Header
.header {
  background-color: $header-background-color;
}

// Personal Details

.personal-details {
  padding-top: 40px;
  h3 {
    display: inline-flex;
  }
  .profile-pic-container {
    min-height: 300px;
    margin-bottom: 20px;
    .profile-pic {
      z-index: 1;
    }
    .profile-pic,
    .profile-pic-hover {
      position: absolute;
      top: 0;
      width: 90%;
    }
    &:hover {
      .profile-pic-hover {
        z-index: 2;
      }
    }
  }
}

// Skills
.skills-container {
  background-color: $alternate-background-color;
  padding: 30px 0 10px;
  .skills {
    margin: 10px 0 20px;
  }
}

// Experience
.experience {
  padding: 30px 0 40px;
  .exp-wrapper {
    .exp-item {
      margin-bottom: 30px;
      padding-left: 45px;
      .exp-date-range {
        margin-bottom: 15px;
      }
      .exp-details {
        ul.exp-bullets-container {
          list-style-type: disc;
          li {
            display: list-item;
            margin-bottom: 0.15rem;
          }
        }
        .exp-location {
          color: $location-color;
          font-size: 0.94rem;
        }
        .material-icons {
          vertical-align: middle;
        }
        p {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
  .exp-additional-experience {
    font-size: 1.1rem;
  }
}

// Import other styles from the experience section

// My Motto
.my-system {
  background-color: $alternate-background-color;
  padding: 30px 0;
  .my-motto-quote-container {
    font-style: italic;
    .my-motto-quote {
      margin-right: 10px;
    }
  }
}

// My Projects
.projects {
  padding: 30px 0;
  .project-container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    .xololitos-thumb {
      filter: grayscale(75%);
    }
    .project-details-container {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      text-align: center;
      margin-right: 15px;
      width: calc(100% - 30px);
      margin: 0px 15px;
      .project-title,
      .project-desc {
        color: $project-details-container-color;
      }
      .project-details-opacity {
        background-color: #000;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 800ms;
      }
      .project-details {
        top: 23%;
        position: relative;
        padding: 15px;
        .project-title {
          position: relative;
          opacity: 0;
          transform: translateY(-20px);
          transition: transform 600ms, opacity 600ms;
        }
        .project-desc {
          position: relative;
          opacity: 0;
          transform: translateY(-15px);
          transition: transform 600ms, opacity 600ms;
        }
      }
      &:hover {
        .project-details-opacity {
          opacity: 0.85;
          transition: opacity 600ms;
        }
        .project-title {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 800ms, opacity 800ms;
        }
        .project-desc {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 800ms, opacity 800ms;
        }
        .view-project {
          opacity: 1;
          transform: translateY(-10px);
          transition: transform 800ms, opacity 800ms, background-color 600ms;
        }
      }
    }
  }
  .create-project-container {
    margin: 40px 0 30px;
    text-align: center;
    .create-a-project-btn {
      border: 2px solid #000;
      text-transform: uppercase;
      padding: 21px 34px;
      background-color: transparent;
      color: #000;
      -webkit-transition: 0.1s background-color linear, 0.1s color linear;
      -moz-transition: 0.1s background-color linear, 0.1s color linear;
      -o-transition: 0.1s background-color linear, 0.1s color linear;
      transition: 0.1s background-color linear, 0.1s color linear;
      &:hover {
        background-color: #272727;
        text-decoration: none;
        color: $project-details-container-color;
      }
    }
  }
}

// Contact

.contact-container {
  margin-top: 0;
  padding: 50px 0 100px;
  .contact {
    position: relative;
    .made-in {
      font-family: 'Work Sans';
      position: absolute;
      right: 20px;
      bottom: -40px;
      font-size: 0.9rem;
    }
    .build-with {
      position: absolute;
      bottom: -40px;
      font-family: 'Work Sans';
      font-size: 0.9rem;
    }
  }
}

footer {
  background-color: $contact-background-color;
  .contact-container {
    color: $contact-color;
  }
  .contact-get-in-touch {
    margin-left: 5%;
    p,
    ul {
      display: inline-flex;
    }
    ul {
      padding-left: 15px;
    }
  }
  ul li {
    margin-right: 10px;
    > a > i.fab {
      font-size: 2rem;
      line-height: 2rem;
      vertical-align: middle;
    }
  }
}

#myName {
  padding: 18px 20px;
  background-color: #26262b;
  display: inline-block;
  color: $white-color;
  cursor: pointer;
}
nav {
  padding: 18px;
  float: right;
  > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.personal-details {
  margin-bottom: 20px;
  > h2 {
    margin: 100px 0 30px 0;
  }
}

.personal-info {
  list-style: none;
  margin-top: 35px;
  li:first-child {
    padding-top: 0px;
  }
  li {
    color: rgb(37, 37, 37);
    padding: 9px 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
    display: block;
  }
}
.skills {
  margin-top: 60px;
  ul {
    li {
      padding: 9px 0;
      border-bottom: 1px solid $skills-border-color;
      color: $skills-color;
      padding: 10px 20px;
      border: 1px solid;
      margin: 0 10px 15px 0;
    }
  }
}

// Project Container
.project-container {
  .project-definition {
    margin: 60px auto 60px;
    width: 83%;
    position: relative;
    h1 {
      font-family: $project-definition-h1-font-family;
      font-size: $project-definition-h1-font-size;
      color: $project-definition-h1-color;
    }
    h3 {
      font-family: $project-definition-h3-font-family;
      font-size: $project-definition-h3-font-size;
      line-height: $project-definition-h3-line-height;
    }
    p {
      margin-top: 40px;
      display: inline-flex;
    }
    a.go-to-website {
      position: absolute;
      right: 0;
      bottom: 10px;
      opacity: 1;
      transition: background-color 600ms;
    }
  }
  .project-tech-description {
    margin-bottom: 30px;
    .tech-fwork-title {
      font-size: 1.05rem;
      font-weight: 700;
      display: inline-flex;
      margin-bottom: 3px;
    }
  }
  .project-image-container {
    text-align: center;
    background-color: $project-image-container-bg-color;
    padding: 30px 0;
    &:last-child {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 768px) {
  .projects .project-container .project-details-container {
    .project-details-opacity {
      opacity: 0.75;
    }
    .project-details {
      top: 35px;
      .project-title,
      .project-desc,
      .view-project {
        opacity: 1;
      }
      .project-title {
        font-size: 1.32rem;
      }
      .view-project {
        bottom: 10px;
        background-color: $links-color;
        color: $project-details-container-color;
      }
    }
  }
  .experience .exp-wrapper .exp-item {
    padding-left: 15px;
  }
}
@media (max-width: 576px) {
  .projects .project-container .project-details-container .project-details {
    top: 65px;
    .project-title {
      font-size: 1.7rem;
    }
    .project-desc {
      font-size: 1.1rem;
    }
  }
  .experience .exp-wrapper .exp-item {
    padding-left: 0;
  }
}

@media only screen and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .header.container {
    padding-left: 0;
    #myName {
      padding: 18px 16px;
    }
    .job-title {
      display: block;
      position: absolute;
      top: 19px;
      right: 14px;
      font-size: 0.95rem;
    }
    nav {
      display: none;
    }
  }
  .contact-container .contact .made-in {
    bottom: -80px;
  }
}
