$links-color: #ff7b45;
$links-color-hover: #d43f04;
$location-color: #2196f3;
$white-color: #fff;

$header-background-color: #edeeef;
$header-border-bottom-color: #cfcfcf;

$alternate-background-color: #fdede4;

$body-font-family: 'Quattrocento Sans', 'Roboto', Arial, sans-serif;
$body-font-size: 16px;
$body-color: rgb(85, 85, 85);

$headlines-font-family: 'Merriweather';
$h5-font-size: 1.15rem;

$skills-border-color: #e1e1e1;
$skills-color: #252525;

$project-details-container-color: $white-color;

$contact-background-color: #26262a;
$contact-color: $white-color;

$project-definition-h1-font-family: 'Quattrocento', Arial;
$project-definition-h1-font-size: 2.2rem;
$project-definition-h1-color: rgba(26, 26, 26, 0.9);

$project-definition-h3-font-family: 'Work Sans';
$project-definition-h3-font-size: 1.5rem;
$project-definition-h3-line-height: 2rem;

$project-image-container-bg-color: #f3f3f3;
