/*GENERAL CLASSES AND STYLES*/
a {
  color: #ff7b45;
}
a:hover {
  color: #d43f04;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline-block {
  display: inline-block;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.c-white {
  color: #fff;
}
body {
  font-family: 'Quattrocento Sans', 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 200;
  color: rgb(85, 85, 85);
}
ul {
  list-style: none;
  li {
    display: inline-block;
  }
}
header {
  height: 60px;
  border-bottom: 1px solid #cfcfcf;
}
i.fab {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.view-project {
  position: relative;
  margin-top: 10px;
  display: inline-flex;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 600ms, opacity 600ms;
  border: 2px solid #ff7b45;
  padding: 4px 12px;
  background-color: transparent;
  color: #ff7a45;
  cursor: pointer;
  &:hover {
    background-color: #ff7b45;
    color: #fff;
    text-decoration: none;
  }
}

// Header
.header {
  background-color: #edeeef;
}

// Personal Details

.personal-details {
  padding-top: 40px;
  h3 {
    margin-bottom: 20px;
  }
  .profile-pic {
    width: 100%;
  }
}

// Skills
.skills-container {
  background-color: #fdede4;
  padding: 30px 0 10px;
  .skills {
    margin: 10px 0 20px;
  }
}

// Experience
.experience {
  padding: 30px 0 40px;
  .exp-wrapper {
    h5 {
      // color: #000;
    }
    .exp-item {
      margin-bottom: 20px;
      .exp-details {
        .exp-location {
          color: #2196f3;
        }
        .exp-company-link {
          // transform: rotate(90deg);
        }
        .material-icons {
          vertical-align: middle;
        }
      }
    }
  }
}
// Import other styles from the experience section

// My Motto
.my-system {
  background-color: #fdede4;
  padding: 30px 0;
}

// My Projects
.projects {
  padding: 30px 0;
  .project-container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    .xololitos-thumb {
      filter: grayscale(75%);
    }
    .project-details-container {
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      text-align: center;
      margin-right: 15px;
      width: calc(100% - 30px);
      margin: 0px 15px;
      .project-title,
      .project-desc {
        color: #fff;
      }
      .project-details-opacity {
        background-color: #000;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 800ms;
      }
      .project-details {
        top: 23%;
        position: relative;
        padding: 15px;
        .project-title {
          position: relative;
          opacity: 0;
          transform: translateY(-20px);
          transition: transform 600ms, opacity 600ms;
        }
        .project-desc {
          position: relative;
          opacity: 0;
          transform: translateY(-15px);
          transition: transform 600ms, opacity 600ms;
        }
      }
      &:hover {
        .project-details-opacity {
          opacity: 0.85;
          transition: opacity 600ms;
        }
        .project-title {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 800ms, opacity 800ms;
        }
        .project-desc {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 800ms, opacity 800ms;
        }
        .view-project {
          opacity: 1;
          transform: translateY(-10px);
          transition: transform 800ms, opacity 800ms, background-color 600ms;
        }
      }
    }
  }
  .create-project-container {
    margin: 40px 0 30px;
    text-align: center;
    .create-a-project-btn {
      border: 2px solid #000;
      text-transform: uppercase;
      padding: 21px 34px;
      background-color: transparent;
      color: #000;
      -webkit-transition: 0.1s background-color linear, 0.1s color linear;
      -moz-transition: 0.1s background-color linear, 0.1s color linear;
      -o-transition: 0.1s background-color linear, 0.1s color linear;
      transition: 0.1s background-color linear, 0.1s color linear;
      &:hover {
        background-color: #272727;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// Contact

.contact-container {
  margin-top: 0;
  padding: 50px 0 100px;
  .contact {
    position: relative;
    .made-in {
      font-family: 'Work Sans';
      position: absolute;
      right: 20px;
      bottom: -40px;
      font-size: 0.9rem;
    }
  }
}

footer {
  background-color: #26262a;
  .contact-container {
    color: #fff;
  }
  .contact-get-in-touch {
    margin-left: 5%;
    p,
    ul {
      display: inline-flex;
    }
    ul {
      padding-left: 15px;
    }
  }
  ul li {
    margin-right: 10px;
    > a > i.fab {
      font-size: 1.3rem;
    }
  }
}

#myName {
  padding: 18px 20px;
  background-color: #26262b;
  display: inline-block;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
nav {
  padding: 18px;
  float: right;
  > ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}

.personal-details {
  margin-bottom: 20px;
  > h2 {
    margin: 100px 0 30px 0;
  }
}

.personal-info {
  list-style: none;
  margin-top: 35px;
  li:first-child {
    padding-top: 0px;
  }
  li {
    color: rgb(37, 37, 37);
    padding: 9px 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
    display: block;
  }
}
.skills {
  margin-top: 60px;
  ul {
    li {
      padding: 9px 0;
      border-bottom: 1px solid #e1e1e1;
      color: #252525;
      padding: 10px 20px;
      border: 1px solid;
      margin: 0 10px 15px 0;
    }
  }
}

// Project Container
.project-container {
  .project-definition {
    margin: 60px auto 60px;
    width: 83%;
    position: relative;
    h1 {
      font-family: 'Quattrocento', Arial;
      font-size: 2.2rem;
      color: rgba(26, 26, 26, 0.9);
    }
    h3 {
      font-family: 'Work Sans';
      font-size: 1.5rem;
      line-height: 2rem;
    }
    p {
      margin-top: 40px;
      display: inline-flex;
    }
    a.go-to-website {
      position: absolute;
      right: 0;
      bottom: 10px;
      opacity: 1;
      transition: background-color 600ms;
    }
  }
  .project-image-container {
    text-align: center;
    background-color: #f3f3f3;
    padding: 30px 0;
    &:last-child {
      margin-bottom: 100px;
    }
  }
}
